.ant-table {
  background-color: #1e232e !important;

  .ant-table-cell {
    background-color: #1e232e !important;
  }

  .ant-table-cell-row-hover {
    background-color: #242c3b !important;
  }

  .ant-table-thead {
    .ant-table-cell {
      background-color: #31394b !important;
    }
  }
}
