@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/card';
@import '../styles/layout';
@import '../styles/menu';
@import '../styles/table';
@import '../styles/button';
@import '../styles/modal';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  background-color: #15141b;
  color: white;

  --background-color: #15141b;
  --bg-card: #1e232e;
  --primary-color: #f05123;
  --color-faded: #aaa;
  --color-success: #29bd08;
  --color-danger: #dc4446;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &-1 {
    @extend .truncate;
    -webkit-line-clamp: 1;
  }

  &-2 {
    @extend .truncate;
    -webkit-line-clamp: 2;
  }

  &-3 {
    @extend .truncate;
    -webkit-line-clamp: 3;
  }

  &-4 {
    @extend .truncate;
    -webkit-line-clamp: 4;
  }

  &-5 {
    @extend .truncate;
    -webkit-line-clamp: 5;
  }
}
