@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/components/_nav-link.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  background-color: #15141b;
  color: white;

  --background-color: #15141b;
  --bg-card: #1e232e;
  --primary-color: #f05123;
  --text-color-darker: #aaa;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
